<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="techbiz">
            <section name="arquitetura.configurations" type="Arquitetura.TechBiz.Configurations.ArqConfigSectionHandler, Arquitetura.TechBiz.Configurations" allowDefinition="Everywhere" restartOnExternalChanges="true" requirePermission="false" />
            <section name="arquitetura.logs" type="Arquitetura.TechBiz.Logs.Configurations.ArqLogSectionHandler, Arquitetura.TechBiz.Logs" allowDefinition="Everywhere" restartOnExternalChanges="true" requirePermission="false" />
            <section name="arquitetura.ef4" type="Arquitetura.TechBiz.EF4.Configurations.ArqEF4SectionHandler, Arquitetura.TechBiz.EF4" allowDefinition="Everywhere" restartOnExternalChanges="true" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <techbiz xmlns="http://www.techbiz.com.br/arquitetura/schemas/v1_1/arquiteturatechbiz.xsd">
        <arquitetura.logs>
            <logProviders enabled="true">
                <eventLog name="EL1" source="Application" pattern="" enabled="true" />
            </logProviders>
        </arquitetura.logs>
        <arquitetura.ef4>
            <objectContextManager lazyLoadingEnable="false" cascadeEnable="false" synchronizeEnable="true">
                <instanceContextManager />
            </objectContextManager>
        </arquitetura.ef4>
    </techbiz>

    <connectionStrings>
        <add name="CmaWeb" connectionString="metadata=res://*/Entidades.Model1.csdl|res://*/Entidades.Model1.ssdl|res://*/Entidades.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.31.0.18\SQL;Initial Catalog=CMAWEB_TESTE;Persist Security Info=True;User ID=teste;Password=P@ssw0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        <add name="CmaWeb2" connectionString="Data Source=10.31.0.18\SQL;Initial Catalog=CMAWEB_TESTE;Persist Security Info=True;User ID=teste;Password=P@ssw0rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
        </compilation>
    </system.web>

</configuration>