<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages theme="Theme1">
            <controls>
                <add tagPrefix="ifr" namespace="Arquitetura.Web.WebControls" assembly="Arquitetura.Web.WC.TPopup"/>
            </controls>
        </pages>
        <httpModules>
            <add name="TFileUploadModule" type="Arquitetura.Web.WebControls.Modules.TFileUploadModule, Arquitetura.Web.WC.TFileUpload"/>
        </httpModules>
    </system.web>
</configuration>
